.nav{
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;

}

.nav_list {
    width: fit-content;
}

.nav_icon {
    display: none;
}

.navList {
    color: var(--fColor);

    >ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        li {
            margin-left: 25px;

            a {
                
                text-transform: capitalize;
                
                font-size: 13px;
                font-weight: 500;
                transition: 0.3s;
                display: block;
                position: relative;
                overflow: hidden;
                // padding: 0.2em 0;
                color: var(--fColor);
                text-decoration: none;
        
                &:hover {
                    color: var(--fColor);
                    text-decoration: none;
                }
              }
              
              /* Fade in */
              a::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--blueColor);
                opacity: 0;
                transition: opacity 300ms, transform 300ms;
              }
              
              a:hover::after,
              a:focus::after {
                opacity: 1;
                transform: translate3d(-80%, 0, 0);
              }
        }
    }
}
.navList_user {
    color: var(--blueColor);
    cursor: pointer;
    font-size: 20px;
}
#navList_vertical {
    flex-direction: column;

    >li {
        margin: 5px 0;
    }
}

@media screen and (max-width: 600px){
    .nav{
        padding: 15px 10px;
    
    }
    .nav_list {
        display: none;
    }

    .nav_icon{
        display: inline;
    }
}



// User section
.useroption{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 100px;

    >span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 600;
        font-size: 13px;
        color: black;
        cursor: pointer;
        width: 100%;
        text-transform: capitalize;
        margin-top: 10px;
    }
}
#useroption_logout{
    font-weight: 500;
    font-size: 13px;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}