.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .home {
        padding: 5px;
    }
}